
.menu .label{     
	-fx-text-fill: #DB9F11;

}
.button{
	-fx-font-family: "Times New Roman";
	-fx-font-size: 1em;
}
.label{
	-fx-font-family: "Times New Roman";
	/*-fx-font-family: "Arial";*/
	/*-fx-font-family: "Seriff";*/
	-fx-font-size: 1em;
	

}